@font-face {
    font-family: "iconfont";
    /* Project id  */
    src: url('iconfont.ttf?t=1773322375378') format('truetype');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-zanting:before {
    content: "\e87a";
    color: gray;
    font-size: 25px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 1em;
    height: 1em;
}

.icon-danquxunhuan:before {
    content: "\e66d";
    color: #ccc;
    font-size: 25px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 1em;
    height: 1em;
}

.icon-xiai:before {
    content: "\eb27";
    color: #ccc;
    font-size: 30px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 1em;
    height: 1em;
}

.icon-shengyinwu:before {
    content: "\eca8";
    color: #ccc;
    font-size: 25px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 1em;
    height: 1em;
}

.icon-shangyishou:before {
    content: "\e63c";
    color: gray;
    font-size: 20px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 1em;
    height: 1em;
}

.icon-xiayishou:before {
    content: "\e63e";
    color: gray;
    font-size: 20px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 1em;
    height: 1em;
}

.icon-shengyin:before {
    content: "\e8b8";
    color: #ccc;
    font-size: 25px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 1em;
    height: 1em;
}

.icon-suijibofang:before {
    content: "\e6a0";
    color: #ccc;
    font-size: 25px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 1em;
    height: 1em;
}

.icon-bofang-xunhuanbofang:before {
    content: "\e68d";
    color: #ccc;
    font-size: 25px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 1em;
    height: 1em;
}

.icon-bofangliebiao:before {
    content: "\e864";
    color: #ccc;
    font-size: 25px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 1em;
    height: 1em;
}

.icon-bofangyinle:before {
    content: "\e672";
    color: gray;
    font-size: 25px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 1em;
    height: 1em;
}